.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: orange;
  color: var(--dark-blue);
  position: fixed;
  left: 0;
  top: 0;
}

.navRight {
  display: flex;
  align-items: center;
}

.counter {
  height: 35px;
  background-color: var(--dark-blue);
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: orange;
}

.clearCart {
  cursor: pointer;
}

.clearCart:hover {
  color: red;
}

.clearCart:active {
  color: yellow;
}

/* grocerylist css */

.listHolder {
  padding-top: 100px;
  width: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addItemInput {
  width: 450px;
  height: 50px;
  padding: 0 10px;
  font-size: 1.75rem;
}

.addItemButton {
  height: 50px;
  margin-left: 20px;
  padding: 8px 10px;
  font-size: 1.25rem;
  background-color: orange;
  color: var(--dark-blue);
  border-radius: 5px;
  cursor: pointer;
}

.addItemButton:hover {
  background-color: yellow;
}

.addItemButton:active {
  background-color: orangered;
}

form {
  display: flex;
  flex-direction: row;
}

ul {
  margin-top: 50px;
}

li {
  display: flex;
  color: orange;
  gap: 10px;
  margin-bottom: 10px;
  align-items: baseline;
}

.listItem {
  min-width: 400px;
}

li {
  /* border-top: 1px dotted orange; */
  padding: 5px, 20px;
  border-radius: 5px;
}

li:nth-child(odd) {
  background-color: blueviolet;
}

.edit {
  background-color: green;
  color: orange;
}

.edit:hover {
  background-color: #006400;
  color: orange;
}

.edit:active {
  background-color: lightgreen;
  color: var(--dark-blue);
}

.delete {
  background-color: red;
  color: orange;
}

.delete:hover {
  background-color: darkred;
  color: orange;
}

.delete:active {
  background-color: coral;
  color: var(--dark-blue);
}

.button {
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 5px;
}

.editInput {
  min-width: 400px;
}
